.login {
    display: flex;
    flex-direction: column;

    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    background: #100db6;
    color: white;
    border: 3px solid black;
    padding: 8px 20px;
    width: 100;
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 10px 10px;
    margin-top: 0;
    width: 720px;
    border: 1px solid #3d3af5;
    border-radius: 4px;
    padding-bottom: 10px;
}

label {
    display: flex;
    flex-direction: column;

    padding: 12px;
    align-self: start;
    margin-left: 20px;
}

input {
    margin-top: 10px;
    padding: 6px;
    width: 640px;
}

button {
    align-self: center;
    width: 150px;
    padding: 12px;
    background: #100db6;
    border: none;
    font-size: 14px;
    color: white;
    border-radius: 12px;
}

p {
    display: flex;
    flex-direction: column;

    align-self: start;
    margin-left: 32px;
    color: red;
}

.signup-form-button-inactive {
    color: gray;
    background: #090a66
}
