.landing-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.landing-div-one {
    align-items: center;
    display: flex;
    width: 70%;
    padding: 0% 20% 0% 20%;
}

.landing-div-one-texts {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.landing-div-one-image {
    display: flex;
    width: 25%;
}

.landing-div-two {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.landing-div-two>p {
    text-align: center;
    font-size: 12px;
    padding: 0% 45% 0% 45%;
}

.landing-div-three {
    display: flex;
    width: 100%;
}

.landing-div-three-link {
    display: flex;
    flex-direction: row;
    padding: 0% 10% 0% 10%
}

.landing-div-four {
    display: flex;
}
